.tableContainer {
  margin: 40px auto;
  max-width: 900px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
}

.table thead {
  background-color: #1e293b;
  
}

.table th,
.table td {
  border: 1px solid #e2e8f0;
  padding: 12px 15px;
  text-align: center;
}

.table th {
  font-weight: 600;
  letter-spacing: 0.5px;
}

.table tbody tr {
  transition: background 0.2s ease-in-out;
}

/* .table tbody tr:hover {
  background-color: #f1f5f9;
}

.table tbody tr:nth-child(even) {
  background-color: #f8fafc;
} */
